# Configuration file

vmtranslationupdate {

    ##########################################################################################################
    # misc
    #--------------------------------------------------------------------------------------------------------#
    # Miscellaneous settings
    # 杂项设置
    ##########################################################################################################

    misc {
        B:autoSwitchLanguage=true
        B:checkModPackTranslationUpdate=true
        B:devMode=false

        # Enabling this feature will automatically generate a example modpackinfo.json file.
        # 开启此功能可以自动生成示例的modpackinfo.json文件
        B:generateExampleModpackInfo=false
    }

    ##########################################################################################################
    # resourcepack
    #--------------------------------------------------------------------------------------------------------#
    # Resource pack settings
    # 资源包设置
    ##########################################################################################################

    resourcepack {
        B:autoDownloadVMTranslationPack=false
        B:autoLoadExtraTranslationPack=false

        # To customize the installation index of translation pack, you must set the resource pack sequence to CUSTOM_INDEX for this setting to take effect!
        # 自定义扩展汉化资源包的安装顺序，需要将扩展汉化资源包顺序设置为CUSTOM_INDEX此项才会生效！
        I:extraPackCustomIndex=0

        # Set extra translation pack name (including the file extension)
        # 设置扩展资源包名称（包括后缀名）
        S:extraPackName=

        # Choose translation pack install index
        # 指定汉化资源包的安装顺序
        # Valid values:
        # TOP_OF_CFPA
        # BOTTOM_OF_CFPA
        # CUSTOM_INDEX
        # DEFAULT
        S:resourcePackIndex=DEFAULT
    }

    ##########################################################################################################
    # modinstallcheck
    #--------------------------------------------------------------------------------------------------------#
    # Mod installation check
    # 模组安装检查
    ##########################################################################################################

    modinstallcheck {
        B:i18nUpdateMod=true
        B:vaultPatcher=false
    }

}


